# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# NEXT.JS
# =========================

.next/
out/

# =========================
# JAVA / SPRING BOOT
# =========================

target/
*.class
*.jar
*.war

# =========================
# LOG FILES
# =========================

logs/
*.log

# =========================
# ENV FILES
# =========================

.env

# =========================
# IDE FILES
# =========================

.idea/
.vscode/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# OPTIONAL
# =========================

*.swp

# =========================
# SECRETS
# =========================

application-secret.properties